@mixin Mobile {
    @media (max-width : 767px){
        @content;
    }
}
@mixin grid ($column, $row, $gap){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
    grid-gap: $gap;
}

@mixin grid-auto ($rows, $column, $columnfr, $gap){
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: repeat($column,$columnfr);
    grid-gap: $gap;
}